.item .card {
    background-color: #fff;
    border-color:#fff;
    margin-bottom: 30px;
}   

.card a{
    text-decoration: none;
    color:#000;
}
.card-img, .card-img-top {
    height: 100%;
    width: 100%;
}

.item .card:hover {
    border-left: 1px solid silver;
    border-right: 1px solid silver;
    border-bottom: 1px solid silver;
    border-top: 2px solid #149ad9;
    cursor: pointer;
}

.product-image-photo {
    bottom: 0;
    display: block;
    height: auto;
    left: 0;
    margin: auto;
    max-width: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

.item .card-text{
width: 100%;
    height: 45px;
}

.item .card-body {
    flex: 1 1 auto;
    padding: 1rem 1.2rem;
    border-top: 1px solid #dee2e6;
}

.item .card-title.h5{
    text-align: center;
    color: #149ad9;
}

.item .wish{
   top: 20px;
   position: absolute;
   margin-left: 20px;
}

.item .btn-danger{
margin-bottom: 30px;
}

