#home {
    width: 100%;
    background: #fff;
    flex: 1;
    height: 100%;
    position: relative;
    top: 0px;
    text-align: center;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
  }
  
  #home .container {
    padding-top: 0px;
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
  }

  .w-100 {
    width: 1905px;
    height: 460px;
}
video {
  top: 0;
  left: 0;
    object-fit: cover;
}

span.home-img-block {
  position: absolute!important;
  left: 0!important;
}

.home-img-block {
    position: absolute;
    top: 42%;
    font-family: 'menu',sans-serif;
    font-size: 40px;
    width: 100%;
    text-align: center;
    background-color: rgba(0,0,0,.36);
    color: white;
    font-weight: 700;
}

.figures .figure{
border: 0px;
    margin: 0px;
    padding: 0px;
    background-color: #008CBA;
}

.figures{
  margin-top:30px;
  margin-bottom:30px;
}

.col-md-3.col-sm-4.col-12.figure.card:hover .overlay{
  opacity: 0.8;
}

.card-img, .card-img-top {
  height: 100%;
  width: 100%;
}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #002b72e8;
}