body {
  background: #fff;
  color: #666666;
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
}

html, body{
  height:100%;
}

#root{
  height: 100%;
}

a {
  color: #47b2e4;
  text-decoration: none;
}

a:hover {
  color: #73c5eb;
  text-decoration: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
  background: rgba(40, 58, 90, 0.9);
}

.App{
  text-align: center;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#header.header-scrolled, #header.header-inner-pages {
  background: rgba(40, 58, 90, 0.9);
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

h3 {
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 520;
  position: relative;
  padding-bottom: 15px;
  text-align: center;
}

h3::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #47b2e4;
  bottom: 0;
  left: calc(50% - 20px);
}

h3::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.h5 {
  margin-top: 0;
  margin-bottom: 0.3rem;
  font-weight: 600;
  line-height: 1.25;
  color: #212529;
  font-size: 1.25rem;
}

b, strong {
  font-weight: 700;
}

#page {
  width: 100%;
  background: #fff;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  height: 100%;
  overflow: hidden;
  top: 72px;
  text-align: center;
}

#page .container {
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 50px;
    margin-left: auto;
    padding-top: 72px;
    margin-top: 50px;
}

#page .section-header{
  background-color: #6e65ec;
  background: "url(/assents/images/home/disciplina_desktop_2.png) no-repeat center center";
  background-size: cover;
  padding: 50px 0;
  position: relative;
  margin-top: 0px;
  color: #fff;
  margin-bottom: 0px;
  padding-bottom: 90px;
  top:75px;
}

.section-header h1{
  font-size: 48px;
  font-weight: 520;
  position: relative;
  padding-bottom: 0px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 40px;
}

h1::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #47b2e4;
  bottom: 0;
  left: calc(50% - 20px);
}

h1::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.icon-back{
  cursor:pointer;
  text-decoration: none;
  color: #fff;
  font-size: 32px;
}
.icon-back:hover{
  color: #47b2e4;
}

.icon-back:after {    
  content:'\2190';
  font-family: "woodmart-font";
}

.rec-carousel-item:focus {
  outline: none;
  box-shadow: inset 0 0 1px 0px violet;
}

nav .breadcrumb .breadcrumb-item a{
  color: #555;
}

nav .breadcrumb .breadcrumb-item.active {
  color: #37517e;
  text-transform: capitalize;
  font-weight: 500;
}
