.input-spinner {
    padding-right: 15px;
    margin: 0 0 20px;
    max-width: 140px;
    flex-wrap: nowrap;
    display: inline-flex;
}

.btn-light {
    background-color: #fff;
    border-color: #dee2e6;
    color:  rgb(153, 153, 153);
    font-weight: 600;
}

.btn-light:hover {
    border-color: #c1c9d0;
    color: #0d6efd;
    background-color: #fff;
}

.btn-light:focus {
    border-color: #c1c9d0;
    color: #0d6efd;
    background-color: #fff;
}

.input-spinner .btn {
    width: 42px;
    text-align: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.input-spinner input.form-control {
    text-align: center;
    border-color: #dee2e6;
    padding-left: 3px;
    padding-right: 3px;
}

.form-control:not(:focus):hover, .form-select:not(:focus):hover {
    border-color: #6ea8fe;
}
